<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            location="models/Migration.ecore"
            uri="http://www.omg.org/ToolInfrastructure/20141225/Migration">
      </resource>
   </extension>

</plugin>
